@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;
    display: flex;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2{
        padding: 10px;
        color: white;
        border-radius: 10px;
        transition: bacground 0.3s;

        &:hover{
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }

    button{
        border: none;
        background: transparent;
        font-size: 1.2rem;
        color: white;
        padding: 10px;
        border-radius: 10px;
        transition: bacground 0.3s;

        &:hover{
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }
}